.wlf-root {
    &-content {
        &-top {
            font-weight: 600;
            color      : #000;
            font-size  : 16px;
        }

        .fw600 {

            color    : #000;
            font-size: 14px;
        }

        .img {
            // width: 200px;
            // margin: 0 auto;
        }
    }
}