.wlf-root{
    &-content{
        &-top{
            color: #000;
            font-size: 14px;
        }

        .fw600{
            font-weight: 600;
            color: #000;
            font-size: 20px;
        }

        .img{
            width: 200px;
            margin: 0 auto;
        }
    }
}