.sgs-test {
    &-content {
        .content {
            padding-top: 10px;

            .content-item {
                height     : 44px;
                line-height: 44px;
                color      : #999;
                padding    : 0 10px;
            }

            .modal {
                .content-bottom {
                    margin-top      : 10px;
                    background-color: #fff;
                }
            }



            .btn-b-10 {
                margin-bottom: 10px;
            }
        }
    }
}