.sgs-test {
    &-content {
        .content {
            padding-top: 10px;

            .content-item {
                height     : 44px;
                line-height: 44px;
                color      : #999;
                padding    : 0 10px;
            }

            .modal {
                .content-bottom {
                    margin-top      : 10px;
                    background-color: #fff;
                }
            }



            .btn-b-10 {
                margin-bottom: 10px;
            }
        }
        .pos{
            width: 90%;
            margin: 0 5%;
            font-size: 12px;
            color: #999;
            margin-top: 20px;
        }
        .orther{
            border-left: 3px solid #1890f5;
            padding-left: 12px;
            line-height: 20px;
            font-size: 25px; 
            margin: 8px 0;
            font-family: 'myfont';
        }
    }
}